# Scala CLI
bin/
target/
build/
.scala-build/
.bloop/
.bsp/
.metals/
.lh/
.vscode/
.cache/
.cache-main
.classpath
.history
.project
.scala/
.scala_dependencies
.settings
.worksheet
.DS_Store
*.class
*.tasty
*.log
*.iml
*.ipr
*.iws
.idea
meta.json
metals.sbt
project/project
.config
DID_Me
